<ion-content [fullscreen]="true">

  <ion-grid>
    <!-- Recorremos los pokemon -->
    @for(pokemon of pokemons; track pokemon.id){
      <ion-row class="ion-align-items-center border-bottom" (click)="goToDetail(pokemon)">
        <!-- Imagen del pokemon -->
        <ion-col size="3">
          @if(pokemon.sprite){
            <ion-img [src]="pokemon.sprite" />
          }
        </ion-col>
        <!-- Nombre del pokemon -->
        <ion-col size="4">
          <ion-text class="ion-text-capitalize">{{pokemon.name}}</ion-text>
        </ion-col>
        <!-- Tipo 1 del pokemon -->
        <ion-col size="2">
          <ion-img [src]="'assets/img/' + pokemon.type1 + '.gif'" />
        </ion-col>
        <!-- Tipo 2 del pokemon (si tiene) -->
        <ion-col size="2">
          @if(pokemon.type2){
            <ion-img [src]="'assets/img/' + pokemon.type2 + '.gif'" />
          }
        </ion-col>
      </ion-row>
    }
  </ion-grid>

  <!-- scroll infinito -->
  <ion-infinite-scroll threshold="50px" (ionInfinite)="morePokemon($event)">
    <ion-infinite-scroll-content 
      loadingText="Cargando..." 
      loadingSpinner="bubbles" />
  </ion-infinite-scroll>
  
</ion-content>